@import url(fontawesome.min.css);
@import url(regular.min.css);
@import url(solid.min.css);
@import url(brands.min.css);
/***
 *
 * Based on sanitize.css v8.0.0 | github.com/csstools/sanitize.css
 * ...with a few hot opinions thrown in
 *
 **/
/* ============================================================================
    Document
    ========================================================================= */
/**
  * 1. Browsers will account for border and padding when calculating box sizes
  *    by default. (opinion)
  *
  * 2. Prevents font size adjustment after orientation changes in IE for Windows
  *    phone and in iOS.
  */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/***
 * 1. Makes all DOM elements inherit the `border-box` sizing from the root 
 * element. The `*` selector has a specificity of 0 and does not override the 
 * `html` value. (opinion)
 *
 * See: See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 *
 * 2. Turn off default background image tiling
 **/
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  /* 1 */
  background-repeat: no-repeat;
  /* 2 */ }

/***
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 **/
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */ }

/* ============================================================================
    Sections, Grouping, Text
    ========================================================================= */
/***
 * 1. Removes any default margin in browsers.
 * 2. Stretches the height of the body to always at least fill the viewport.
 *    (opinion)
 **/
body {
  margin: 0;
  /* 1 */
  min-height: 100vh;
  /* 2 */ }

/***
 * Add the correct display in IE.
 **/
main {
  display: block; }

/***
 * Remove gray background on active links in IE10.
 **/
a {
  background-color: transparent; }

/***
 * Remove text-shadow in selection highlight
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 **/
::-moz-selection {
  text-shadow: none; }

::selection {
  text-shadow: none; }

/***
 * Style hack to prevent `sub` and `sup` from affecting line height.
 **/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* ============================================================================
    Embedded Content
    ========================================================================= */
/***
 * 1. Remove the border on images inside links in IE10-.
 * 2. Images will fit container (opinion)
 * 3. Set images to block and forget about it. On the rare occasion you need
 *    them to be inline just write an exception. Do note that they can't be
 *    centered with `text-align` now. (opinion)
 **/
img {
  border-style: none;
  /* 1 */
  max-width: 100%;
  /* 2 */
  display: block;
  /* 3 */ }

/***
 * Add the correct display in IE 9-.
 **/
audio,
video {
  display: inline-block; }

/***
 * Add the correct display in iOS 4-7.
 **/
audio:not([controls]) {
  display: none;
  height: 0; }

/***
 * Hide the overflow in IE.
 **/
svg:not(:root) {
  overflow: hidden; }

/* ============================================================================
    Tabular Data
    ========================================================================= */
/***
 * Collapse border spacing in all browsers (opinionated).
 **/
table {
  border-collapse: collapse; }

/* ============================================================================
    Forms
    ========================================================================= */
/***
 * Inherit styling in all browsers (opinionated).
 **/
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

/***
 * Remove the margin in Safari.
 **/
button,
input,
select {
  margin: 0; }

/***
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge, Firefox, and IE.
 **/
button {
  overflow: visible;
  /* 1 */
  text-transform: none;
  /* 2 */ }

/***
 * Correct the inability to style clickable types in iOS and Safari.
 **/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; }

/***
 * Correct the padding in Firefox.
 **/
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/***
 * Show the overflow in Edge and IE.
 **/
input {
  overflow: visible; }

/***
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 **/
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */ }

/***
 * 1. Add the correct display in Edge and IE.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 **/
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/***
 * Remove the inheritance of text transform in Firefox.
 **/
select {
  text-transform: none; }

/***
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 * 3. Allow only vertical resizing of textareas (opinion)
 **/
textarea {
  margin: 0;
  /* 1 */
  overflow: auto;
  /* 2 */
  resize: vertical;
  /* 3 */ }

/***
 * Remove the padding in IE 10-.
 **/
[type='checkbox'],
[type='radio'] {
  padding: 0; }

/***
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 **/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/***
 * Correct the cursor style of increment and decrement buttons in Safari.
 **/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto; }

/***
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 **/
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/***
 * Remove the inner padding in Chrome and Safari on macOS.
 **/
::-webkit-search-decoration {
  -webkit-appearance: none; }

/***
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 **/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/***
 * Remove the inner border and padding of focus outlines in Firefox.
 **/
::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/***
 * Restore the focus outline styles unset by the previous rule in Firefox.
 **/
:-moz-focusring {
  outline: 1px dotted ButtonText; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

/* ============================================================================
    Interactive
    ========================================================================= */
/***
 * Add the correct display in Edge and IE.
 **/
details {
  display: block; }

/***
 * Add the correct styles in Edge, IE, and Safari.
 **/
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content; }

dialog:not([open]) {
  display: none; }

/***
 * Add the correct display in all browsers.
 **/
summary {
  display: list-item; }

/***
 *
 * Base Styles
 *
 * Standard styles for commonly used elements to simplify and beautify.
 *
 **/
/* =============================================================================
   Sections
   ========================================================================== */
/***
 * Add padding at the bottom of every page
 **/
body {
  padding-bottom: 6rem; }

/* =============================================================================
   Lists
   ========================================================================== */
/***
 * 1. Set default markers for list items.
 * 2. Position the markers inside of the principle block instead of outside of
 *    it.
 **/
ul {
  list-style-type: circle;
  /* 1 */
  list-style-position: inside;
  /* 2 */ }

ol {
  list-style-type: decimal;
  /* 1 */
  list-style-position: inside;
  /* 2 */ }

ol,
ul {
  margin-top: 0;
  padding-left: 0; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }

li {
  margin-bottom: 1rem; }

/***
 * Reset the styles when using unordered lists in navigational menus.
 **/
nav ul {
  list-style: none;
  margin-bottom: 0; }

nav ul ul {
  margin: 0;
  font-size: 100%; }

nav li {
  margin-bottom: 0; }

/* =============================================================================
   Links
   ========================================================================== */
/***
 * 1. Remove dotted outline when link is active 
 *
 * See: https://css-tricks.com/removing-the-dotted-outline/
 **/
a {
  color: inherit;
  text-decoration: none;
  outline: 0;
  /* 1 */
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear; }
  a:hover, a:focus {
    color: inherit; }

::-moz-selection {
  background: yellow; }

::selection {
  background: yellow; }

/* =============================================================================
   Forms
   ========================================================================== */
button,
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }

label,
legend {
  margin-bottom: 0.5rem; }

input[type='checkbox'],
input[type='radio'] {
  display: inline; }

/* Body
______________________________________________________________________________*/
html {
  font-size: 62.5%; }

body {
  background-color: white;
  color: #151515;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 200;
  font-size: 1.5em;
  line-height: 1.6;
  min-height: 100vh; }

p {
  margin: 0 0 2rem 0; }

i,
em {
  font-style: italic; }

b,
strong {
  font-weight: 600; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  margin: 1rem 0 2rem;
  border: solid #eeeeee;
  border-width: 1px 0 0; }

pre {
  font-family: monospace; }

abbr {
  font-style: italic;
  font-weight: 100; }

small {
  font-size: 1.2rem; }

/* Headings
______________________________________________________________________________*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0 0 2rem 0; }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    color: inherit; }

h1 {
  font-size: 5rem;
  line-height: 1.2; }

h2 {
  font-size: 4.2rem;
  line-height: 1.25; }

h3 {
  font-size: 3.6rem;
  line-height: 1.3; }

h4 {
  font-size: 3.0rem;
  line-height: 1.35; }

h5 {
  font-size: 2.4rem;
  line-height: 1.5; }

h6 {
  font-size: 1.5rem;
  line-height: 1.6; }

/* =============================================================================
   Utility Classes
   ========================================================================== */
/***
 * Clear Fix
 *
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 *
 **/
.cf::before,
.cf::after {
  content: ' ';
  /* 1 */
  display: table;
  /* 2 */ }

.cf::after {
  clear: both; }

/***
 * Container
 *
 * 1. Squeeze
 * 2. Center
 *
 **/
.container {
  max-width: 960px;
  /* 1 */
  position: relative;
  margin: 0 auto;
  /* 2 */
  padding: 0 10px; }

/***
 * Italic
 *
 * Simple class to make text italic instead of abusing the <em> tag
 *
 **/
.italic {
  font-style: italic; }

/* Card Image */
.card__image {
  margin-bottom: 1rem;
  width: 100%; }

/* Card Body */
.card__body {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-bottom: 2px solid #151515;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 1rem; }

/* Card Title */
.card__title {
  margin-bottom: 0;
  font-size: 1.4rem;
  line-height: 1.2;
  text-transform: uppercase; }

/* Card Icon */
.card__icon {
  margin-left: 5px; }

/* Card Hover Effects */
.card__image,
.card__body {
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear; }

.card:hover .card__image {
  opacity: 0.9;
  -webkit-transform: scale(0.95);
  transform: scale(0.95); }

.card:hover .card__body {
  color: cyan; }

.process {
  position: fixed;
  top: 130px;
  right: 0;
  width: 30px;
  height: 120px; }
  @media (max-width: 1130px) {
    .process {
      display: none; } }

.process__block {
  width: 30px;
  height: 30px; }

.process__block--cyan {
  background-color: cyan; }

.process__block--magenta {
  background-color: magenta; }

.process__block--yellow {
  background-color: yellow; }

.process__block--black {
  background-color: #151515; }

.post-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 6rem; }

.post-heading__title {
  font-size: 5rem;
  margin-bottom: 0; }

.post-heading__number {
  font-size: 2.4rem;
  color: magenta;
  font-weight: 200; }

.album-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.album-info__artwork {
  margin-bottom: 2rem;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content; }

.album-info__tracklist {
  font-size: 1.3rem;
  line-height: 1.3;
  color: gray; }

.album-info__track {
  margin: 0; }

/* =============================================================================
   Menu
   ========================================================================== */
.menu {
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1; }

.menu__list {
  height: 100%; }

.menu__item {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.menu__item--active {
  background-color: yellow;
  color: #151515; }

.menu__link {
  padding: 0 10px;
  color: inherit; }

.menu__link:hover {
  color: yellow; }

/* =============================================================================
   Header
   ========================================================================== */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-left: 10px; }
  @media (min-width: 1130px) {
    .header {
      padding: 0 5%; } }
  @media (max-width: 495px) {
    .header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.header__logo {
  border-top: 20px solid #151515;
  margin-bottom: 0;
  padding-top: 10px;
  font-size: 3rem;
  font-weight: 600;
  line-height: 0.8; }
  @media (max-width: 495px) {
    .header__logo {
      margin-bottom: 1rem; } }

.header__logo a:hover {
  color: white; }

.card-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); }

.p-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 860px) {
    .p-flex {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.p-body {
  max-width: 43rem;
  font-size: 1.4rem; }
  @media (max-width: 860px) {
    .p-body {
      margin-bottom: 1rem; } }

.p-album-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }
  @media (max-width: 860px) {
    .p-album-info {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; } }

.p-album-info__artwork {
  width: 60%; }
  @media (max-width: 860px) {
    .p-album-info__artwork {
      width: 50%; } }

.p-album-info__tracklist {
  text-align: right; }
  @media (max-width: 860px) {
    .p-album-info__tracklist {
      text-align: left; } }
