/* =============================================================================
   Header
   ========================================================================== */

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-left: 10px;

  @media (min-width: 1130px) {
      padding: 0 5%;
  }
}

.header__logo {
  border-top: 20px solid $black;    
  margin-bottom: 0;
  padding-top: 10px;

  font-size: 3rem;
  line-height: 0.8;
}

.header__logo a:hover {
  color: $white;
}