/* =============================================================================
   Header
   ========================================================================== */

.header {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  margin-bottom: 60px;

  @media (min-width: 1130px) {
      padding: 0 5%;
  }

  @media (max-width: 495px) {
    flex-direction: column;
    align-items: center;
  }
}

/***
 *
 * Header Logo
 *
 * 1. Rule element
 * 2. Reset default style
 *
 **/

.header__logo {
  padding-top: 10px;
  border-top: 20px solid $black; /* 1 */
  margin-bottom: 0; /* 2 */

  font-size: 3rem;
  font-weight: $bold;
  line-height: 0.8;

  @media (max-width: 495px) {
    margin-bottom: 1rem;
  }
}

.header__logo a:hover {
  color: $white;
}