/* =============================================================================
   Menu
   ========================================================================== */


.menu {
  font-size: 1.5rem;
  font-weight: $lite;
  line-height: 1;
}

/***
 * 1. Allows for active menu item style to span entire height of the menu
 **/

.menu__list {
  height: 100%; /* 1 */
}

/***
 * 1. Set `li` elements to flex containers so child links can be pushed to the
 *    bottom ( align-items: flex-end)
 * 2. Allows for active menu item style to span entire height of the menu
 **/

.menu__item {
    display: inline-flex; /* 1 */
    justify-content: space-between;
    align-items: flex-end;
    height: 100%; /* 2 */
}

.menu__item--active {
  background-color: $yellow;
  color: $black;
}

.menu__link {
  padding: 0 10px;
  
  color: inherit;
}

.menu__link:hover {
  color: $yellow;
}

