/* =============================================================================
   Menu
   ========================================================================== */


.menu {
  font-size: 1.5rem;
  font-weight: $lite;
  line-height: 1;
}

.menu__list {
  height: 100%;
}

.menu__item {
    align-items: flex-end;
    display: inline-flex;
    height: 100%;
    justify-content: space-between;
}

.menu__item--active {
  background-color: $yellow;
  color: $black;
}

.menu__link {
  padding: 0 10px;
  
  color: inherit;
}

.menu__link:hover {
  color: $yellow;
}

