/***
 * P001 - Main Body Container
 **/

.p001-flex {
  display: flex;

  @media (max-width: 860px) {
    flex-direction: column;
  }
}

/***
 * P001 - Article Container
 **/

.p001-body {
  max-width: 43rem;

  font-size: 1.4rem;

  @media (max-width: 860px) {
    margin-bottom: 1rem;
  }
}

/***
 * P001 - Album Component Overrides
 **/

.p001-album-info {
  align-items: flex-end;

  @media (max-width: 860px) {
    align-items: flex-start;
  }
}

.p001-album-info__artwork {
  width: 60%;

  @media (max-width: 860px) {
    width: 50%;
  }
}

.p001-album-info__tracklist {
  text-align: right;

  @media (max-width: 860px) {
    text-align: left;
  }
}
