.card__image {
  margin-bottom: 1rem;
  width: 100%;

  transition: $transition-default;
}

.card:hover .card__image {
  opacity: 0.9;
  transform: scale(0.95);
}

.card__body {
  align-items: flex-end;
  border-bottom: 2px solid $black;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;

  transition: $transition-default;
}

.card:hover .card__body {
  color: $cyan;
}

.card__title {
  margin-bottom: 0;

  font-size: 1.4rem;
  line-height: 1.2;
  text-transform: uppercase;
}

.card__icon {
  margin-left: 5px;
}
