/* Card Image */

.card__image {
  margin-bottom: 1rem;
  width: 100%;
}

/* Card Body */

.card__body {
  align-items: flex-end;
  border-bottom: 2px solid $black;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

/* Card Title */

.card__title {
  margin-bottom: 0;

  font-size: 1.4rem;
  line-height: 1.2;
  text-transform: uppercase;
}

/* Card Icon */

.card__icon {
  margin-left: 5px;
}

/* Card Hover Effects */

.card__image,
.card__body {
  transition: $transition-default;
}

.card:hover .card__image {
  opacity: 0.9;
  transform: scale(0.95);
}

.card:hover .card__body {
  color: $cyan;
}
