/* =============================================================================
   Card
   ========================================================================== */

/***
 * Card Image
 **/

.card__image {
  width: 100%;
  margin-bottom: 1rem;
}

/***
 * Card Body
 **/

.card__body {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 1rem;
  border-bottom: 2px solid $black;
}

/***
 * Card Title
 **/

.card__title {
  margin-bottom: 0;

  font-size: 1.4rem;
  line-height: 1.2;
  text-transform: uppercase;
}

/***
 * Card Icon
 **/

.card__icon {
  margin-left: 5px;
}

/***
 * Card Hover Effects
 **/

.card__image,
.card__body {
  transition: $transition-default;
}

.card:hover .card__image {
  opacity: 0.9;
  transform: scale(0.95);
}

.card:hover .card__body {
  color: $cyan;
}
