/* =============================================================================
   Post Headings
   ========================================================================== */

/***
 * Container
 **/

.post-heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 6rem;
}

/***
 * 1. Reset default style
 **/

.post-heading__title {
  margin-bottom: 0; /* 1 */

  font-size: 5rem;
}

.post-heading__number {
  font-size: 2.4rem;
  font-weight: $lite;
  color: $magenta;
}